[Unit]
Description=MyDaemon
After=network.target

[Service]
Type=simple
ExecStart=/home/libvm/linux2/backup_daemon/daemon
Restart=always

[Install]
WantedBy=default.target

